/*
	SCHOOL DRIVE
	// DAMIAN SZEWCZYK
	// WWW.DAMIANSZEWCZYK.PL
	WSZELKIE PRAWA ZASTRZEŻONE
*/


.footer {
	width: 920px;
	float: left;
	background: #B4ABA2;
	padding: 5px 40px 5px 40px;
	margin-top: 30px;
	color: #ddd;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
}
	
.m-t-50px {
	margin-top: 50px;

}
body {

    background-color: black;
    color: aliceblue;

}

#ErrorOl {

    margin: 20px; 
    padding: 10px 10px 10px 30px; 
    border-radius: 10px; 
    background-color: 
    rgb(206, 55, 55); 
    width:350px;
    letter-spacing: 2px;
    
    
}
.Welcome-Name {

    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}
.calculator-date {
    font-size: 15px;
    margin-left: 10px;

}
.date-name {
    margin-left: 10px;
    font-size: 25px;
    letter-spacing: 2px;
}
.rate-result {
    background-color: rgb(202, 160, 104);
    color: black;
    margin: 20px; 
    padding: 10px;
    border-radius: 5px;
    width:300px; ;

}
.ENTER {

    font-size: 17px;
    color: black;
    background-color: bisque ;
    border-radius: 5px;
    transition: all, 2s, ease-in-out;
    
}




.ENTER:hover {

    border: 2px solid green;
    cursor: pointer;
    background-color: rgb(33, 155, 84);

}


